* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    font-family: montserrat;
}
header{
    padding: 10px;
}
.container-my{
    width: 74%;
    margin: 0 auto;
}
nav {
    
    height: 80px;
    width: 100%;
}

label .logo{
    display: inline-block;
    margin-top: 25px;
}
nav ul {
    float: right;
    margin-right: 20px;
    
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #333333;
    font-size: 1.02rem;
    text-decoration: none;
    padding: 7px 10px;
    font-weight: 400;
}
nav ul li a.active, nav ul li a:hover{
    color: #7CB500;
    transition: 0.5s;
    text-decoration: none;
}

.checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: -3px;
    
}
#check{
    display: none;
}
.greenbtn{
    background-color: #7CB500;
    padding: 15px 25px;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
    border-radius: 100px;
    border: 1px solid transparent;

}
.greenbtn:hover, .greenbtn:active{
    color: #000;
    background-color: #fff;
    box-shadow: 5px 8px 15px rgba(161, 203, 68, 0.2);
    border: 1px solid #0d9943;
}







@media (max-width: 952px){
    label .logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav{
        border: 1px solid #7CB500;
        border-radius: 8px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fdfdfd;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li:not(:last-child){
        display: block;
        margin: 30px 5px;
        line-height: 30px;
        padding: 10px;  
        border: 1px solid transparent;
    }
    
    nav ul li:hover:not(:last-child){
        background-color: #fff;
        
    }
    
    nav ul li a{
        font-size: 20px;
    }
    
    nav ul li a:hover, nav ul li a:active:not(:last-child){
        color: #7CB500;
    }
    .greenbtn:hover{
        color:black;
        background-color: #fff;
    }

    
    #check:checked ~ ul{
        left: 0;
    }
    .box-1{
       width: 100%;
       margin: 0 auto;
       text-align: center;

    }
    .box-1 h1{
        
    }
    .box-2{
        width: 100%;
        margin: 40px auto 0 auto;
    }

    
    





}


/* Main header */
.main-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6rem;
    max-height: 200%;  
}
.box-1{
    width: 65%;
    display: flex;
    flex-direction: column;
    height: auto;
    word-wrap: wrap;
    word-break: keep-all;
}
.box-1 h1{
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
}
.box-1 p{
    font-weight: 500;
    font-size: 24px;
    line-height: 149%;
    color: #4F4F4F;
    margin-top: 30px;
}


.box-2 img{
    width: 348px;
    height: 289px;
}


.parent {
  margin: auto;
  /*background-color: #000;*/
  display: flex;
  height: 80%;
  width: 80%;
}

.child {
  margin: auto;  /* Magic! */
  max-width: 100%;
  max-height: 100%;
}
.about-div2{
    margin-top: 200px;
    max-width: 100%;
}
.col-md-4 .box{
    border: 1px solid #cecece;
    border-radius: 10px;
    width: 100%;
    margin: 15px 5px;
    /* padding: 15px 20px; */
    height: 392px;
    
}
.box:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bosh{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    
    
    
}
.bosh p:nth-child(1){
    color: #7CB500;
}
.bosh p:nth-child(2){
    background: #7CB500;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    right: 10px;
    color: #fff;
    padding: 5px;
    width: 54px;
    height: 33px;
    text-align: center;
    
}
.box .own{
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    
    padding: 0px 20px;
}

.time div:nth-child(1){
    margin-top: 80px;
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    
    
    
}
.time div:nth-child(2){
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin-top: -20px;
    margin-left: -12px;
    
}
.price{
    display: flex;
    background: #F9F9F9;
    width: 100%;
    margin-top: 20px;
    height: 87.5px;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;
    justify-content: space-around;
    padding: 15px;
    
}
/* .price:hover{
    color: #fff;
    background-color: #7CB500;
} */

.box .price p{
    padding: 19px 0 0 0;
    font-weight: 600;
    color: #333333;
}
.box .price h3{
    margin-top: -8px;
    font-weight: bold;
    color: #333333;
    padding: 0 0 20px 0;
}


/* person with laptop */

.per-with-laptop img{
    width: 100%;
    height: auto;
    
    filter: saturate(50%);
}
.per-with-laptop img{
    filter: saturate(150%);
    
}


.per-with-laptop{
    
    width: 80%;
    margin: 0 auto;
}


.video-1{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    /*margin-top: 100px;*/
}

.video-1 div .img-1{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(17, 11, 2, 0.4), rgba(17, 11, 2, 0.4)), url(.jpg);
    border-radius: 10px;
}
.video-2{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.video-2 div .img-1{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(17, 11, 2, 0.4), rgba(17, 11, 2, 0.4)), url(.jpg);
    border-radius: 10px;
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    /*background: #eee !important;*/
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}



/* lines page login form */



.lines h1 { 
    display: flex; 
    flex-direction: row; 
    
} 

.lines h1:before{ 
    content: " "; 
    flex: 1 1; 
    border-bottom: 3px solid #7CB500; 
    margin: auto; 
    margin: 30px;
    
    
} 
.lines h1:after{ 
    content: " "; 
    flex: 1 1; 
    border-bottom: 3px solid #7CB500;
    margin: auto; 
    margin: 30px;
    
    
} 

.lines img { 
    width: 60px; 
    height: 60px;
    
} 

.login{
    display: flex;
    flex-direction: column;
}
.login h3{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
}
.login p{
    display: flex;
    justify-content: center;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.sign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    
}
.sign form input{
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 50px;
}
.sign form img{
    margin-top: 14px;
    margin-left: -80px;
    width: 20px;
    height: 20px;
}
.sign form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.sign form a{
    padding: 15px 15px;
    background: #7CB500;
    box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
    border-radius: 150px;
    color: #fff;
    margin-left: 45px;
    text-decoration:none;
}


/* footer */
.icon a img{
    width: 30px;
    height: 30px;
    margin: 30px 3px;
    
}
.footer-final{
    background-color: #F2F2F2;
    height: auto;
    
}

.icons{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.icon{
    padding: 60px;
    text-align: center;
    
    
}
.icon h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    
}
.icon ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.icon ul li{
    color: #666666;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
}

.icon-2 div ul{
    list-style-type: none;
    text-align: left;
}

.icon-2 {
    padding: 40px;
    text-align: center;
}
.icon-2 div ul li a{
    color: #666666;
    text-decoration: none;
    margin: 10px 0;
    
}
.icon-2 div ul li{
    margin: 10px 0;
}



.icon-3{
    padding: 49px;
    text-align: center;
}
.icon-3 ul{
    list-style: none;
}
.icon-3 ul li a{
    text-decoration: none;
    color: #666666;
}
.icon-3 ul li{
    padding: 8px 0;
    color: #333;
}
.icon-3 ul li img{
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-right: 5px;
}
.icon-3 ul li .sms{
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-right: 17px;
}
        

.icon-4{
    padding: 49px;
    text-align: center;
}
.icon-4 ul{
    list-style: none;
}
.icon-4 ul li a{
    text-decoration: none;
    color: #666666;
}
.icon-4 ul li{
    padding: 8px 0;
    color: #333;
}
.icon-4 ul li img{
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-right: 5px;
}
.icon-4 ul li .sms{
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-right: 17px;
}
                   