*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.courses-header{
  
}

.courses-top-links ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start ;
}
.courses-top-links ul li a{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
color: #333333;
width: 155px;
height: 24px;
text-decoration: none;
margin: 30px 15px 30px 10px;
}
.green-link{
    color: #7CB500 !important;
}
.courses-main-info h1{
font-weight: 800;
font-size: 64px;
line-height: 78px;
letter-spacing: 0.01em;
width: 469px;
height: 156px;
font-family: sans-serif;
color: #333333;
}

.courses-main-info p{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 149%;
width: 714px;
height: 72px;
color: #333333;
}

.courses-main-info ul{
    display: flex;
    flex-direction: column;
}

.courses-main-info ul li{
width: 515px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 149%;
padding: 5px 10px;
color: #4F4F4F;
}

.courses-main-info div{
    margin-top: 50px;
}
.courses-main-info div a:nth-child(1){
    padding: 15px 25px;
background: #7CB500;
box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 150px;
color: #fff;
text-decoration: none;
margin-right: 10px;
margin-right: 40px;
}
.courses-main-info div a:nth-child(2){
    padding: 15px 25px;
border: 1px solid #7CB500;
box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 150px;
color: #7CB500;
text-decoration: none;
}

.img-animation img{
    position: absolute;
width: 500.35px;
height: 500.89px;
left: 820px;
top: 100px;
}

.links-image {
    display: flex;
    flex-direction: row;
    width: 511px;
    height: 30px;
    margin-bottom: 150px;
}
.links-image > div{
    
    width: 150px;
    
}
.links-image > div > p{
    color: #333;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
margin-left: 40px;
margin-top: -25px;
}

links-image > div > img{
    width: 30px;
    height: 30px;
    display: flex;
}

.blok-1 img{
    background: linear-gradient(0deg, rgba(17, 11, 2, 0.4), rgba(17, 11, 2, 0.4)), url(.jpg);
border-radius: 10px;

width: 520px;
height: 313px

}
.info-part{
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0 auto;
   justify-content: center;
   margin-bottom: 300px;
}



.blok-2{
width: 520px;
height: 313px;
padding: 0px 40px;
}

.blok-2 p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
color: #333333;
}

.blok-2 h3{
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 149%;
margin-top: 40px;
}

#title-main-center > h2{
    font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 150%;
color: #333333;
}

#title-main-center #title-center{
    font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 149%;
color: #333;

}

#title-main-center #title-center-2{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
color: #4F4F4F;
}

.practice-courses-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   margin: 0 auto;
   background: #FDFDFD;
}
.box-info{
    width: 800px;
    height: 160px;
background: #FFFFFF;
margin: 15px auto;

border: 0.5px solid #CECECE;
box-sizing: border-box;
border-radius: 15px;
}

.hashtags{
    width: 310px;
    height: 21px;
    padding: 40px 50px;
}
.hashtags>a{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #4F4F4F;
margin-left: 10px;
}
.hashtags>a:hover{
    text-decoration: none;
}
.hashtags > a>img{
    margin-right: 5px;
}
.green-link-info{
    color: #7CB500 !important;
}
#enter-title{
    font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 150%;
width: 67px;
height: 36px;
padding: 10px 62px;
}
.hide-part{
    width: 500px;
    height: 58px;
    padding: 20px 50px;
    display: none;
}
#icon-hide{
width: 45px;
height: 45px;
float: right;
margin-top: -75px;
padding: 10px 65px;
}

#hide-qismi{
    padding: 50px;
    display: none;
}

.coder-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.coder-1{
    width: 458.71px;
    height: 438.2px;
    margin-top: -80px;
}

.coder-2{
    width: 574px;
    height: 438.2px;
    margin-top: 60px;
    margin-left: 50px;
}

.coder-2 .coder-text h2{
    font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 149%;
color: #333;
}
.coder-2 .coder-text {
    margin: 30px 0px;
}
.coder-2 .coder-text p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
color: #666666;
}

.coder-2 .coder-list p{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
color: #333333;
}

.info-about-students{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.students-info .image-student img{
width: 160px;
height: 160px;
margin: 0 auto;

}
.students-info{
width: 310px;
height: 342px;

}

.down-part h3{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 149%;
width: 325px;
height: 27px;
margin: 0 auto;
margin-top: 25px;

}
.student{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 149%;
width: 220px;
height: 21px;
margin: 0 auto;
}

.info-course-comment{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 149%;
width: 300px;
height: 84px;
margin: 0 auto;
margin-top: 20px;
}
.chevron-1{
    float: left;
    margin-top: 180px;
    
}
.chevron-2{
  float: right;
  margin-top: 180px;
}


.sign-up-page{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
}
.narxlar{
    display: flex;
    flex-direction: row;
    
    
}
.narx-1 p{
    font-style: normal;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
}

.narx-1 h3{
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 150%;
margin-top: -10px;
color: #7CB500;
}
.narx-2 a:nth-child(1){
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #333333;
text-decoration: none;
}
.narx-2 h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    margin-top: -10px;
    color: #7CB500;
    margin-top: 7px;
}
.narx-2 a:last-child{
    
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #7CB500;
text-decoration-line: underline;

}
.narx-1{
    margin-right: 112px;
}
.last-login-page{
margin-top: -100px;
width: 251px;
height: 27px;
}
.form-login{
    display: flex;
    flex-direction: column;
    float: right;
    width: 371px;
height: 445px;
background: #FFFFFF;
border: 1px solid #7CB500;
box-sizing: border-box;
border-radius: 15px;
margin-top: -255px;
}
.form-login h2{
    font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 150%;
color: #333333;
margin-top: 45px;
margin-left: 50px;   
}
.form-login p{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #666666; 
width: 271px;
height: 42px;
margin-left: 50px;
}




.form-part{
    text-align: center;
}
.form-part input{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.01em;
color: #666666;
border: none;
border-bottom: 2px solid #666;
padding: 10px;
text-align: left;
width: 200px;
margin-bottom: 20px;
}

.btn-green-kurs{
    background: #7CB500;
box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 150px;
width: 177px;
color: #fff;
text-decoration: none;
margin-top: 20px;
padding: 15px 25px;
margin-left: 70px;

}
.last-login-page a span{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 180%;
color: #333;
}
.last-login-page a{
    text-decoration: none;
    color: #7CB500;
}
.last-login-page a:hover{
    text-decoration: none;
}
.last-login-page .upper-title{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
color: #333;
}

.last-login-page h3{
    margin-bottom: 20px;
}

.top-img{
width: 371px;
border-radius: 15px;
margin-top: -255px;
float: right;
position: relative;
right: -630px;
top: -40px;
z-index: -1;
}

.bottom-img{
    width: 371px;
    border-radius: 15px;
    margin-top: -255px;
    float: right;
    position: relative;
    right: -310px;
    top: 350px;
    z-index: -1;
}


.info-courses-login-page{
    margin-bottom: 350px;
}
.last-page-question{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.questions{
width: 440px;
height: 139px;
background: #FFFFFF;
/* carousel */


border: 0.5px solid #CECECE;
box-sizing: border-box;
border-radius: 15px;
margin-right: 50px;
margin-top: 50px;
}

.questions h3{
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 150%;
color: #333333;
padding: 15px 20px;

}
.questions p{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.01em;
padding: 0px 20px;
color: #333;
}
.questions img{
    position: relative;
    left: 400px;
    top: -115px;
}
