



.top-header-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.text-top-header{
 margin-top: 180px;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 78px;
letter-spacing: 0.01em;
color: #333333;
width: 332px;
height: 78px;
}
.text-top-header-paragraph{
    margin-top: 40px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 149%;
letter-spacing: 0.01em;
color: #4F4F4F;
width: 714px;
height: 180px;
}
.main-view-info{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.img-part-info{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-part-info img{
margin-top: 100px;
width: 1140px;
height: 610px;
border-radius: 10px;

}

.green-link-all-time{
    color: #7CB000;
}
.next-page-info{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.title-next-page-info{
width: 506px;
height: 36px;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 150%;
margin: 0 auto;
text-align: center;
color: #333;
}
.nex-page-paragraph{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
width: 840px;
height: 72px;
margin: 15px auto;
}

.ads-part{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ads-info-parts{
    background-color: #fff;
width: 504px;
height: 400px;
border: 0.5px solid #CECECE;
border-radius: 10px;
margin: 20px;
box-shadow: -1px 2px 22px -10px rgba(143,143,143,1);
}
.ads-info-parts:hover{
    box-shadow: 0px 4px 22px -3px rgba(179,179,179,0.98);
}
.img-pc{
    width: 60px;
   height: 60px;
   margin: 30px;
}
.ads-info-parts h2{
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
color: #000000;
margin-left: 30px;
margin-top: 20px;
}

.ads-info-parts ul{
    width: 298px;
height: 135px;
margin-left: 30px;
margin-top: 25px;
}

.ads-info-parts ul li{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 149%;
margin: 5px 0px;
color: #4F4F4F;
}

.services-title{
    margin: 80px 0 40px 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 149%;
    text-transform: uppercase;
}
.container-fluid{
    background-color: #FDFDFD;
    
}


.for-margin-top{
    margin-top: 150px;
}
.main-title-pc-part{
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 150%;
color: #333333;
width: 648px;
height: 90px;
margin-left: -300px;
}

.imac-part img{
width: 570px;
height: 461px;
}

.big-imac-inside{
    width: 981px;
    height: 475.5px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.some-info-imac-sider{
    width: 408px;
    height: 461px;
   margin-left: 108px;
    
}                               

.some-info-imac-sider h2{
    width: 179px;
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 149%;
    letter-spacing: 0.01em;
    color: #333333;
    margin-top: 61px;
    margin-bottom: -10px;
}
.some-info-imac-sider p span{
width: 84px;
height: 18px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 149%;
color: #666666;

}
.some-text-imac-sider{
width: 300px;
height: 84px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 149%;
color: #333333;
margin-top: 10px;
margin-bottom: 50px;
}

.green-button-all-time{
padding: 15px 30px;
width: 240px;
height: 49px;
background: #7CB500;
box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 150px;
color: #fff;
text-decoration: none;
border: 1px solid transparent;

}
.green-button-all-time:hover{
    color: #000;
    background-color: #fff;
    box-shadow: 5px 8px 15px rgba(161, 203, 68, 0.2);
    border: 1px solid #0d9943;
    text-decoration: none;
}

.main-center-class{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#title-main-center > h2{
margin-top: 186px;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 150%;
color: #333333;
margin-bottom: 70px;
}







.info-about-students{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.students-info .image-student img{
width: 160px;
height: 160px;
margin: 0 auto;

}
.students-info{
width: 310px;
height: 342px;

}

.down-part h3{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 149%;
width: 325px;
height: 27px;
margin: 0 auto;
margin-top: 25px;

}
.student{
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 149%;
width: 220px;
height: 21px;
margin: 0 auto;
}

.info-course-comment{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 149%;
width: 300px;
height: 84px;
margin: 0 auto;
margin-top: 20px;
}
.chevron-1{
    float: left;
    margin-top: 180px;
    
}
.chevron-2{
  float: right;
  margin-top: 180px;
}

.green-button-all-time-2{
color: #fff;
width: 195px;
height: 59px;
padding: 15px 25px;
background: #7CB500;
box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 150px;
color: #fff;
text-decoration: none;
border: 1px solid transparent;
}
.green-button-all-time-2:hover{
    color: #000;
    background-color: #fff;
    box-shadow: 5px 8px 15px rgba(161, 203, 68, 0.2);
    border: 1px solid #0d9943;
    text-decoration: none;
}
.main-course-start{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 100px;
    
}
.main-course-start div {
    margin: 10px 10px;
}

.main-course-start div img{
width: 160px;
height: 160px;
}
.main-course-start div h4{
width: 428px;
height: 36px;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 149%;
color: #333333;
}
.main-course-start div p{
width: 601px;
height: 72px;
left: 408px;
top: 128px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 149%;
color: #4F4F4F;
}

.register-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    /* flex-wrap: wrap; */
    margin-bottom: 150px;
}
.register-page h3{
width: 298px;
height: 36px;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 150%;
color: #333333;
}
.register-page a img{
width: 24px;
height: 24px;
margin-right: 17px;
}
.register-page a{
width: 172px;
height: 32px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 180%;
color: #7CB500;

}
.register-page a:hover{
    text-decoration: none;
}

.register-page p img{
width: 24px;
height: 24px;
margin-right: 17px;
}

.bottom-info-date{
width: 315px;
height: 25px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 180%;
color: #777777;
}
.map-info-text{
    margin-top: 10px;
    width: 331px;
    height: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #333333;
}

.map-info-text-2{
    width: 331px;
    height: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #333333;
    margin-top: -50px;
    margin-left: 43px;
}
.green-link-button-all-time{
width: 129px;
height: 54px;
padding: 15px 25px;
color: rgb(255, 255, 255) !important;
background: #7CB500;
box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 150px;
margin-left: 50px;
}

.reg-sign-page{
width: 460px;
height: 620px;
background: #FFFFFF;
border: 1px solid #7CB500;
box-sizing: border-box;
border-radius: 15px;
margin-left: 80px;

}

.map-part{
    width: 476px;
height: 276px;
}

.reg-sign-page h3{
    width: 194px;
    height: 36px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    margin-left: 50px;
    margin-top: 55px;
}

.reg-sign-page p{
width: 355px;
height: 63px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #666666;
margin-left: 50px;
}

.user-sign-part{
width: 343px;
height: 370px;
margin: 0 auto;

}
.user-sign-part input{
width: 300px;
height: 34px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.01em;
color: #666666;
padding: 25px;
margin: 10px auto;
border: none;
border-bottom: 2px solid #666666;
}
.user-sign-part img{
width: 20px;
height: 20px;
margin-left: -25px;

}

