* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.main-title{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	flex-wrap: wrap;
}
.title-1{
	width: 993px;
	word-wrap: none;
	display: flex;
	justify-content: flex-end;
	
}
.title-1 h1{
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 78px;
	letter-spacing: 0.01em;
	color: #333333;
	position: relative;
	left: 50px;
	
	
}
.title-2{
	display: flex;
	justify-content: flex-end;
	margin-right: 25px;
}
.title-2 img{
	width: 364px;
	height: 54px;
	
}
.container-my{
	/* background-color: #eee; */
}

.bg-color{
	
	margin-top: 100px;
}

.blog-post{
	width: 900px;
	height: 300px;
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	border: 1px solid #ccc;
	border-radius: 15px;
	
}
.blog-post:hover, .blog-post:active{
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border: 1px solid transparent;
}

.blog-post .main-image-blog{
	width: 450px;
	height: 300px;
	border: 0.5px solid #CECECE;
    box-sizing: border-box;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.blog-post .text-box{
	padding: 20px 25px;
}

.blog-post .text-box h4 {
    font-size: 22px;
	line-height: 145%;
	color: #33333;
	margin-bottom: 15px;
}

.blog-post .text-box h4:hover, .blog-post .text-box h4:active{
	color: #7CB500;
}

.blog-post .text-box .views{
	display: flex;
	flex-direction: row;
}

.blog-post .text-box .views img{
	width: 18px;
	height: 18px;
	margin-left: 10px;
}
.blog-post .text-box .views p{
	width: 43px;
	height: 18px;
	margin-left: 10px;
	margin-top: -4.5px;
	text-overflow: hidde;
}


.main-header-bar{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 80px;
	
}
.words-main{
	padding: 10px 5px;
	word-wrap: break-word;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.main-header-bar h1{
	font-style: normal;
    font-weight: 800;
    font-size: 64px;
	line-height: 78px;
	width: 290px;
	height: 78px;
	margin-bottom: 30px;
}

.main-header-bar p{
	width: 730px;
	height: 108px;
	font-style: normal;
    font-weight: 500;
    font-size: 24px;
	line-height: 149%;
	color: #4F4F4F;
	
}
.container-blog{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	
}


.pagination-main{
	width: 60%;
	margin: 50px auto;
	display: flex;
	justify-content: center;
}
.pagination a {
	color: black;
	float: left;
	padding: 15px 22px;
	text-decoration: none;
	transition: background-color .3s;
	border-radius: 50%;
	margin: 10px;
	border: 1px solid #333;
	
  }
 
  
  .pagination a.active {
	background-color: #7CB500;
	color: white;
	text-decoration: none;
	border: 1px solid transparent;
	box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 100px;
  }
  
  .pagination a:hover:not(.active) {
	  text-decoration: none;
	  background-color: #7CB500;
	  color: #fff;
	  border: 1px solid transparent;
	  box-shadow: 0px 4px 15px rgba(161, 203, 68, 0.2);
border-radius: 100px;
	}




























/* media query */

@media (max-width: 952px){
   .main-header-bar h1{
	   font-size: 3rem;
	   text-align: center;
	   margin: 0 auto;
   }
   .main-header-bar p{
	   font-size: 1rem;
	   width: 90%;
	   text-align: center;
	   margin: 0 auto;
   }

   .bg-color{
	   width: 100%;
	   margin: 80px auto;
	   
   }
   .blog-post{
	width: 1000%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 15px;
	
   }
   .blog-post .main-image-blog{
	   width: 100%;
	   height: auto;
	   border-top-right-radius: 15px;
	   border-bottom-left-radius:0px;
	   
   }
   .blog-post .text-box{
	   width: 100%;
	  
	   
	   
   }
   .text-box h4{
	   font-size: 14px !important;
	   width: 100%;
   }
   .text-box p{
	   font-size: 11px;
	   width: 100%;
   }
	
   .blog-post .text-box .views img{
	width: 18px;
	height: 18px;
	margin-left: 10px;
	margin-top: -4.5px;
   }




   .pagination-main{
	width: 30%;
	margin: 50px auto;
	display: flex;
	justify-content: center;
	font-size: 10px;
}
.pagination a {
	color: black;
	float: left;
	padding: 12px 17px;
	text-decoration: none;
	transition: background-color .3s;
	border-radius: 50%;
	margin: 5px;
	border: 1px solid #333;
	
  }
 

}
    

















@media (max-width: 1177px){
	
	.bg-color{
		width: 100%;
		margin: 80px auto;
		
	}
	.blog-post{
	 width: 1000%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 border: 1px solid #ccc;
	 border-radius: 15px;
	 
	}
	.blog-post .main-image-blog{
		width: 100%;
		height: auto;
		border-top-right-radius: 15px;
		border-bottom-left-radius:0px;
		
	}
	.blog-post .text-box{
		width: 100%;
	   
		
		
	}
	.text-box h4{
		font-size: 18px !important;
		width: 100%;
	}
	.text-box p{
		font-size: 15px;
		width: 100%;
	}
	 
	.blog-post .text-box .views img{
		width: 25px;
		height: 25px;
		margin-left: 10px;
		margin-top: -4.5px;
	}
	.views p{
		margin-right: 20px;
	}

 
}